.folder-item {
  width: 100%;
  overflow: hidden;
  border-radius: 6px;

  a {
    background-color: #f4f4f9;
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    transition: all 0.3s ease;

    img {
      width: 220px;
      height: 220px;
    }

    .folder-info {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 20px;
    }

    h1 {
      font-size: clamp(18px, 4vw, 26px);
      color: #2a2a40;
      font-weight: 400;
    }

    h2 {
      font-size: clamp(14px, 3vw, 22px);
      color: #666666;
      font-weight: 300;
    }
  }

  a:hover {
    background-color: #e7e7ed;
  }
}
