@if (folder != undefined) {
<section class="folder-page">
  <div class="folder">
    <div class="folder-image" #folderImage>
      <img
        #coverImg
        src="content/{{ folder.path }}/img/{{ folder.coverImage }}"
        (load)="onImageLoad(coverImg)"
      />
    </div>
    <header>
      <h1>{{ folder.title }}</h1>
      <h2>{{ folder.description }}</h2>
    </header>
  </div>
  @if (folder.folders != undefined && folder.folders.length > 0) {
  <app-folder-list [folders]="folder.folders"></app-folder-list>
  } @if (folder.documents != undefined && folder.documents.length > 0) {
  <app-document-list [documents]="folder.documents"></app-document-list>
  }
</section>
}
