:root {
  --font-size-h1: clamp(2rem, 6vw, 3rem);
  --font-size-h2: clamp(1.75rem, 5vw, 2.5rem);
  --font-size-h3: clamp(1.5rem, 4.5vw, 2.25rem);
  --font-size-h4: clamp(1.25rem, 4vw, 2rem);
  --font-size-p: clamp(0.9rem, 3vw, 1.25rem);
  --color-text: #2a2a40;
  --color-background: #ffffff;
  --color-card: #f4f4f9;
  --color-border: #454545;
  --color-cerulean-blue-50: #ebf5ff;
  --color-cerulean-blue-100: #dbecff;
  --color-cerulean-blue-200: #bfdbff;
  --color-cerulean-blue-300: #98c2ff;
  --color-cerulean-blue-400: #6f9dff;
  --color-cerulean-blue-500: #4d78ff;
  --color-cerulean-blue-600: #2145fd;
  --color-cerulean-blue-700: #223ee0;
  --color-cerulean-blue-800: #1f37b4;
  --color-cerulean-blue-900: #21358e;
  --color-cerulean-blue-950: #141e52;
}
