.document-header {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .title {
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
  }

  .subtitle {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 300;
  }

  .date {
    text-align: end;
    font-size: 1.2rem;
    font-weight: 500;
  }
}
